.main-parent{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-145deg, rgb(36, 181, 225), rgb(4, 41, 68));
}
.where{
    margin-top: 7vh;
    color: white;
    text-shadow:-5px 10px 20px rgba(0, 0, 0, 0.254) ;

}
.card{
    width: 25em;
    height: 30em;
    margin-top: 7vh;
    border-radius: 2em;
    background: linear-gradient(-145deg, white, rgb(218, 218, 218));
    border: 3px solid white;
    text-align: center;
    color: rgb(4, 41, 68);

}
.add-child-btn{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(4, 41, 68);
    padding: 1em;
    border-radius: 10px;
    margin-top: 2vh;
    color: rgb(4, 41, 68);
    font-weight: 900;
}

.child-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}
.child-form-container input{
    border: none;
    margin: 1vh;
    height: 3vh;
    border-radius: 7px;
    text-align: center;
}
.sos-call{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: 900;
    box-shadow: 0px 0px 30px red;
    width: 100vw;
    height: 20vh;
    background:linear-gradient(-90deg,rgb(201, 0, 0), rgb(140, 0, 0));
    bottom: -70vh;
}
.sos-call h4{
    margin: 0;
    margin-bottom: 2vh;
}