
.main-child{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items:center;
    align-content: center;
    flex-direction: column;
    background: linear-gradient(-145deg, rgb(36, 181, 225), rgb(4, 41, 68));
}
.track-btn{
    padding: 4rem;
    border-radius: 100%;
    width: 8em;
    height: 8em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    background: linear-gradient(-145deg, white, rgb(218, 218, 218));
    border: 3px solid white;
    color: rgb(4, 41, 68);
    filter: drop-shadow(-10px 20px 30px rgba(0, 0, 0, 0.277)) ;
    /* animation: heartBeat;
    animation-duration: 5s;
    animation-iteration-count: 20 */
}
.track-btn:checked{
    animation: heartBeat;
    animation-duration: 5s;
    animation-iteration-count: 20
}
.sharing{
    color: white;
    position: absolute;
    margin-top: -40vh;
    font-size: 25px;
    text-align: center;
}
.icon{
    top: 10vh;
    position: absolute;
    color: white;
    height: 5em !important;
    width: 5em !important;
    animation: pulse;
    animation-duration: 2s ;
    animation-iteration-count: 8

    
}
.sos{
    padding: 2em;
    background: linear-gradient(-90deg,rgb(201, 0, 0), rgb(140, 0, 0));
    margin-top: 55vh;
    height: 2vh;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    border: none;
    font-weight: 900;
    color: white;
    box-shadow: 0px 0px 20px rgb(238, 0, 0) ;
    cursor: pointer;
}
.sos-modal{
    display: block;
    text-align: center;
    color: white;
    background:linear-gradient(-90deg,rgb(201, 0, 0), rgb(140, 0, 0));
    border-radius: 10px;
    width: 100vw;
    height: 12vh;
    margin-top: 2vh;

}
.yn-btn{
    border: 2px solid white;
    margin: 5px;
    margin-top: 0;
    border-radius: 5px;
    padding: 1%;
}